@using FicusFrontend.Layout.CaseList.Models
@using BlazorBootstrap
@inherits ComponentBase

<div class="case-list-item">
    <Tooltip Title="@Case.Case.Name" Placement="TooltipPlacement.Right">
        <div class="case-list-item-name">
            @Case.Case.Name
        </div>
    </Tooltip>

    <div class="case-list-item-creation-date">
        @Case.Case.CreatedAt.ToString("g")
    </div>

    <div class="@CaseNotificationCLass"></div>
</div>

@code
{
    private string CaseNotificationCLass => "case-notification " + Case.State switch
    {
        CaseListItemState.New => "case-new-notification",
        CaseListItemState.UpdatesReceived => "case-update-notification",
        CaseListItemState.Seen => "case-seen-notification",
        _ => throw new ArgumentOutOfRangeException()
    };

    [Parameter] public CaseListItemDto Case { get; set; }
}