@using Ficus

@inherits ComponentBase

<div class="event-log-info-container">
  <EventLogInfoItem Title="Events" Info="@EventLogInfo.EventsCount.ToString()" Background="#123312" />
  <EventLogInfoItem Title="Traces" Info="@EventLogInfo.TracesCount.ToString()" Background="#321123" />
  <EventLogInfoItem Title="Event classes" Info="@EventLogInfo.EventClassesCount.ToString()" Background="#312312" />
</div>

@code {
  [Parameter] public required GrpcEventLogInfo EventLogInfo { get; init; }
}