.sidebar-list-item-title-container {
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.sidebar-list-item-title-container:hover {
  background-color: var(--processes-section-process-name-background-hovered);
}

.sidebar-list-item-title {
  color: var(--cv-section-content-text-color);
}

.sidebar-list-item {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
