@inherits ComponentBase

@inject IJSRuntime Js

<div class="canvas-container">
  <div id="@myCytoscapeContainerId" class="cytoscape-canvas"></div>

  <div class="canvas-export-button" @onclick="ExportGraph">
    Export to SVG
  </div>
</div>


@code {
  private readonly Guid myCytoscapeContainerId = Guid.NewGuid();

  private IJSObjectReference? myCytoscapeReference;

  [Parameter] public required Func<string, Task<IJSObjectReference>> RenderingFunc { get; init; }
  [Parameter] public required Func<string> FileNameCreator { get; init; }


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (!firstRender) return;

    myCytoscapeReference = await RenderingFunc(myCytoscapeContainerId.ToString());
  }

  private async Task ExportGraph() => await Js.InvokeVoidAsync("exportCytoscapeToSvg", myCytoscapeReference, FileNameCreator());
}