.canvas-container {
  min-width: 1200px;
  height: 650px;
  background-color: var(--cv-section-content-color);
  padding: 15px;
}

.cytoscape-canvas {
  min-width: 1170px;
  height: 590px;
}

.canvas-export-button {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 30px;
  background-color: var(--cv-section-header-color);
  color: var(--cv-section-header-text-color);
}

.canvas-export-button:hover {
  background-color: var(--cv-section-header-color-hovered);
}
