.sidebar-list-collapsed-outer-container {
  width: 50px;
  height: 100%;
  overflow: hidden;
}

.sidebar-list-collapsed-title-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-list-outer-container {
  width: 250px;
  height: 100%;
  overflow: hidden;
}

.sidebar-list-title-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-list-title {
  padding-left: 10px;
  color: white;
  font-size: 20px;
}

.sidebar-list-item-title-container {
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.sidebar-list-item-title-container:hover {
  background-color: var(--processes-section-process-name-background-hovered);
}

.sidebar-list-item-title {
  color: var(--cv-section-content-text-color);
}

.sidebar-list-item {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-list {
  width: 100%;
}

.scrollable {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

@scope (.dark-sidebar-list) {
  .side-list-outer-container-background {
    background-color: var(--processes-section-cases-collapsed-bakground);
  }

  .sidebar-list-title-container-background {
    background-color: var(--processes-section-title-background);
  }

  .sidebar-list-item-title-container-background {
    background-color: var(--processes-section-process-name-background);
  }

  .sidebar-list-background {
    background-color: var(--processes-section-cases-background);
  }
}

@scope (.darker-sidebar-list) {
  .side-list-outer-container-background {
    background-color: var(--processes-section-cases-collapsed-bakground);
  }

  .sidebar-list-title-container-background {
    background-color: var(--processes-section-title-background);
  }

  .sidebar-list-item-title-container-background {
    background-color: var(--processes-section-process-name-background);
  }

  .sidebar-list-background {
    background-color: var(--processes-section-cases-background);
  }
}