.case-list-item {
  width: 100%;
  height: 65px;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: white;
  position: relative;
}

.case-list-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin-left: 10px;
  padding-top: 5px;
  color: white;
  font-size: 15px;
}

.case-list-item-creation-date {
  margin-left: 10px;
  color: white;
  font-size: 13px;
}

.case-notification {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.case-update-notification {
  background-color: yellow;
}

.case-new-notification {
  background-color: greenyellow;
}

.case-seen-notification {
  visibility: hidden;
}

@scope (.dark-sidebar-list) {
  .case-list-item {
    background-color: var(--processes-section-case-background);
  }

  .case-list-item:hover {
    background-color: var(--processes-section-case-background-hovered);
  }
}

@scope (.darker-sidebar-list) {
  .case-list-item {
    background-color: var(--processes-section-case-background-darker);
  }

  .case-list-item:hover {
    background-color: var(--processes-section-case-background-hovered-darker);
  }
}