.colors-log-canvas-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.invisible-canvas {
    visibility: collapse;
}

canvas {
    background-color: #ffffff;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
