@using Ficus
@inherits ComponentBase

<div>
    Events count: @EventLogInfo.EventsCount
</div>

<div>
    Traces count: @EventLogInfo.TracesCount
</div>

<div>
    Event classes count: @EventLogInfo.EventClassesCount
</div>

@code {
    [Parameter] public required GrpcEventLogInfo EventLogInfo { get; init; }
}