.petri-net-container {
  min-width: 1200px;
  height: 800px;
  background-color: var(--cv-section-content-color);
  padding: 15px;
}

.cytoscape-petri-net-canvas {
  min-width: 1170px;
  height: 770px;
}