@using Ficus
@inject IJSRuntime Js

<h3>PetriNetRenderer</h3>

<div class="d3-petri-net-container" id="@myCytoscapeContainerId"></div>

@code {
  private readonly Guid myCytoscapeContainerId = Guid.NewGuid();


  [Parameter] public required GrpcPetriNet PetriNet { get; init; }


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await Js.InvokeVoidAsync("drawPetriNet", myCytoscapeContainerId.ToString(), PetriNet);
  }
}