@using FicusDashboard.Components.Utils

@inherits ComponentBase

@inject IJSRuntime Js

<div style="height: 10px; width: 100%;">
  @if (myIsDrawing)
  {
    <Loader />
  }
</div>

<div style="visibility: @(myIsDrawing ? "collapse" : "inherit")" class="canvas-container">
  <div id="@myCytoscapeContainerId" class="cytoscape-canvas">
  </div>
</div>


@code {
  private readonly Guid myCytoscapeContainerId = Guid.NewGuid();

  private bool myRequestedToRerender;
  private bool myIsFullScreen;
  private bool myIsDrawing;
  private IJSObjectReference? myCytoscapeReference;

  [Parameter] public required bool IsFullScreen { get; init; }
  [Parameter] public required Func<string, Task<IJSObjectReference>> RenderingFunc { get; init; }


  protected override Task OnAfterRenderAsync(bool firstRender)
  {
    if ((firstRender || myIsFullScreen != IsFullScreen || myRequestedToRerender) && !myIsDrawing)
    {
      myIsFullScreen = IsFullScreen;
      myRequestedToRerender = false;
      ReRenderCanvasInternal();
    }

    return Task.CompletedTask;
  }

  public Task ExportGraph(string fileName) =>
    Js.InvokeVoidAsync("exportCytoscapeToSvg", myCytoscapeReference, fileName).AsTask();

  private void ReRenderCanvasInternal()
  {
    myIsDrawing = true;
    StateHasChanged();

    //some hacks in order to make it work after changing to full screen from JS side
    Task.Delay(200).ContinueWith(_ =>
    {
      InvokeAsync(async () =>
      {
        myCytoscapeReference = await RenderingFunc(myCytoscapeContainerId.ToString());
        myIsDrawing = false;
        StateHasChanged();
      });
    });
  }

  public void ReRenderCanvas()
  {
    myRequestedToRerender = true;
    ReRenderCanvasInternal();
  }
}