@using Ficus
@using FicusFrontend.Layout.Models
@inject IJSRuntime Js

<div class="graph-container">
  <div id="@myCytoscapeContainerId" class="cytoscape-graph-container"></div>

  <div class="export-button" @onclick="ExportGraph">
    Export to SVG
  </div>
</div>


@code 
{
  private readonly Guid myCytoscapeContainerId = Guid.NewGuid();

  private IJSObjectReference? myCytoscapeReference;

  [Parameter] public GrpcAnnotation? Annotation { get; set; }
  [Parameter] public required GrpcGraph Graph { get; init; }
  [Parameter] public required ProcessCaseData ProcessCaseData { get; init; }


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (!firstRender) return;

    myCytoscapeReference = await Js.InvokeAsync<IJSObjectReference>("drawGraph", myCytoscapeContainerId.ToString(), Graph, Annotation);
  }

  private async Task ExportGraph()
  {
    var fileName = ProcessCaseData.ProcessData.ProcessName + "_" + ProcessCaseData.Case.Name + "_graph";
    await Js.InvokeVoidAsync("exportCytoscapeToSvg", myCytoscapeReference, fileName);
  }
}