@using Ficus
@using Radzen.Blazor

@inject IJSRuntime Js

<div id="@myCytoscapeContainerId" class="cytoscape-graph-container"></div>

<div>
  <RadzenButton Text="Export to SVG" Click="ExportGraph"></RadzenButton>
</div>

@code {
  private readonly Guid myCytoscapeContainerId = Guid.NewGuid();

  private IJSObjectReference myCytoscapeReference;
  
  
  [Parameter] public required GrpcGraph Graph { get; init; }


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    myCytoscapeReference = await Js.InvokeAsync<IJSObjectReference>("drawGraph", myCytoscapeContainerId.ToString(), Graph);
  }

  private async Task ExportGraph()
  {
    await Js.InvokeVoidAsync("exportCytoscapeToSvg", myCytoscapeReference);
  }
}