@using System.Globalization
@using BlazorBootstrap
@using FicusDashboard.Services

@inject IEntitiesColors EntitiesColors;


<div style="width: 100%; height: 10px; display: flex; flex-direction: row;">
  @{
    var sum = Entries.Select(e => e.Value).Sum();
  }

  @foreach (var entry in Entries)
  {
    var percents = Math.Ceiling(entry.Value / sum * 100).ToString(CultureInfo.InvariantCulture);
    var style = $"width: {percents}%; height: 100%;";
    var tooltip = $"{entry.Key}, ({entry.Value}, {percents}%)";

    <Tooltip Title="@tooltip"
             Placement="TooltipPlacement.Top"
             Style="@style">
      <div style="width: 100%; height: 100%; background: @EntitiesColors.GetOrCreateColor(entry.Key)"
           class="line-histogram-entry">
      </div>
    </Tooltip>
  }
</div>


@code {
  [Parameter] public required (string Key, double Value)[] Entries { get; init; }
}