.case-info-header {
    background-color: #323232;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 10px;
    color: white;
    font-size: 20px;
}

.pipeline-parts-context-values-outer-container {
    margin-top: 20px;
}

.pipeline-parts-context-values-inner-container {
    margin-top: 20px;
}

.pipeline-part-name {
    background-color: var(--header-color);
    color: var(--header-text-color);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pipeline-part-context-values-container {
    max-height: 600px;
    background-color: var(--content-color);
    color: var(--contenxt-text-color);
    padding: 5px 5px 5px 10px;
}