@using System.Text.Json
@using FicusFrontend.Services.Cases
@using ObservableCollections
@using BlazorBootstrap
@inherits ComponentBase

@inject IProcessesService ProcessService


@if (Case is null || ProcessData is null)
{
    <PageTitle>Select the case</PageTitle>

    <div>
        The case was not yet selected.
    </div>
    return;
}

@{
    var title = ProcessData.ProcessName + " " + Case.Name;   
}

<PageTitle>@title</PageTitle>

<div>
    <Accordion>
        @foreach (var contextValue in myContextValues)
        {
            <AccordionItem Title="@contextValue.Value.PipelinePartName">
                <Content>
                    <div>
                        @JsonSerializer.Serialize(contextValue.Value.ContextValues)
                    </div>
                </Content>
            </AccordionItem>
        }
    </Accordion>
</div>

@code
{
    private readonly List<KeyValuePair<Guid, CaseData.PipelinePartExecutionResult>> myContextValues = [];

    [Parameter] public ProcessData? ProcessData { get; set; }
    [Parameter] public Case? Case { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Case is null || ProcessData is null) return;

        var values = ProcessService.CreateCaseValuesObservable(ProcessData, Case);
        myContextValues.Clear();
        myContextValues.AddRange(values);
        
        StateHasChanged();

        values.CollectionChanged += (in NotifyCollectionChangedEventArgs<KeyValuePair<Guid, CaseData.PipelinePartExecutionResult>> args) =>
        {
            myContextValues.Clear();
            myContextValues.AddRange(values);
            StateHasChanged();
        };
    }
}