@using Ficus
@using FicusFrontend.Services.Cases
@using ObservableCollections
@inherits ComponentBase

@inject ICasesService CaseService


@if (Case is null)
{
    <PageTitle>Select the case</PageTitle>

    <div>
        The case was not yet selected.
    </div>
    return;
}

<PageTitle>@Case.Name</PageTitle>

<div>
    @foreach (var contextValue in myContextValues)
    {
        <div>@contextValue.Key</div>
    }
</div>

@code
{
    private readonly List<KeyValuePair<Guid, List<GrpcContextValueWithKeyName>>> myContextValues = [];

    [Parameter] public Case? Case { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Case is null) return;

        var values = CaseService.CreateCaseValuesObservable(Case);
        myContextValues.Clear();
        myContextValues.AddRange(values);
        
        StateHasChanged();

        values.CollectionChanged += (in NotifyCollectionChangedEventArgs<KeyValuePair<Guid, List<GrpcContextValueWithKeyName>>> args) =>
        {
            myContextValues.Clear();
            myContextValues.AddRange(values);
            StateHasChanged();
        };
    }
}