@using FicusFrontend.Layout.CaseList
@using FicusFrontend.Services
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <CasesList CaseSelected="HandleNewCaseSelected"/>
    </div>

    <main>
        <article class="content px-4">
            <CaseInfo Case="@mySelectedCase"/>
        </article>
    </main>
</div>


@code
{
    private Case? mySelectedCase;


    private void HandleNewCaseSelected(Case selectedCase)
    {
        mySelectedCase = selectedCase;
        StateHasChanged();
    }
}