@using FicusFrontend.Components.CaseInfo
@using FicusFrontend.Components.CaseList
@using FicusFrontend.Layout.Models
@using FicusFrontend.Services.Cases
@using FicusFrontend.Components.Subscriptions
@inherits LayoutComponentBase

<div class="page">
  <div class="sidebar">
    <SubscriptionsList />
  </div>
  <div class="sidebar">
    <CasesList CaseSelected="HandleNewCaseSelected"/>
  </div>

  <main>
    <article class="content px-4 case-info-container">
      <CaseInfo ProcessCaseData="@myProcessCaseData"/>
    </article>
  </main>
</div>


@code
{
  private ProcessCaseData? myProcessCaseData;


  private void HandleNewCaseSelected(ProcessData processData, Case selectedCase)
  {
    myProcessCaseData = new ProcessCaseData
    {
      Case = selectedCase,
      ProcessData = processData
    };

    StateHasChanged();
  }
}