@using FicusFrontend.Components.CaseInfo
@using FicusFrontend.Components.CaseList
@using FicusFrontend.Services.Cases
@inherits LayoutComponentBase

<div class="page">
  <div class="sidebar">
    <CasesList CaseSelected="HandleNewCaseSelected"/>
  </div>

  <main>
    <article class="content px-4">
      <CaseInfo ProcessData="@mySelectedProcessData" Case="@mySelectedCase"/>
    </article>
  </main>
</div>


@code
{
  private Case? mySelectedCase;
  private ProcessData? mySelectedProcessData;


  private void HandleNewCaseSelected(ProcessData processData, Case selectedCase)
  {
    mySelectedProcessData = processData;
    mySelectedCase = selectedCase;
    StateHasChanged();
  }
}