@using FicusFrontend.Components.CaseInfo
@using FicusFrontend.Components.CaseList
@using FicusFrontend.Layout.Models
@using FicusFrontend.Services.Cases
@using FicusFrontend.Components.Subscriptions
@inherits LayoutComponentBase

<div class="page">
  <div class="sidebar">
    <SubscriptionsList PipelineSelected="HandlePipelineSelected"/>
  </div>
  <div class="sidebar">
    <CasesList CaseSelected="HandleNewCaseSelected" SelectedPipeline="mySelectedPipeline"/>
  </div>

  <main>
    <article class="content px-4 case-info-container">
      <CaseInfo ProcessCaseData="@mySelectedProcessCaseData" />
    </article>
  </main>
</div>


@code
{
  private Pipeline? mySelectedPipeline;
  private ProcessCaseData? mySelectedProcessCaseData;


  private void HandlePipelineSelected(Pipeline pipeline)
  {
    mySelectedPipeline = pipeline;
    StateHasChanged();
  }

  private void HandleNewCaseSelected(ProcessData processData, Case selectedCase)
  {
    mySelectedProcessCaseData = new ProcessCaseData
    {
      Case = selectedCase,
      ProcessData = processData
    };

    StateHasChanged();
  }
}