<div style="height: @Height; width: @Width; background: @Color !important;"
     class="flamegraph-edge">
</div>

@code {
  [Parameter] public required string Height { get; init; }
  [Parameter] public required string Width { get; init; }
  [Parameter] public required string Color { get; init; }
}