<div style="height: max(@Height, fit-content); width: max(@Width, fit-content); background: @EnhancedEdge?.Color !important;"
     class="flamegraph-edge">
  @if (EnhancedEdge is not null)
  {
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div style="margin-top: -5px;">
        @EnhancedEdge.ExecutionTimeStringRepr
      </div>
      <div style="margin-top: -5px; white-space: nowrap;">
        @EnhancedEdge.NumberOfExecutions times
      </div>
    </div>

    @((MarkupString)EnhancedEdge.Html)
  }
</div>

@code {
  [Parameter] public required string Height { get; init; }
  [Parameter] public required string Width { get; init; }
  [Parameter] public required EnhancedEdge? EnhancedEdge { get; init; }
}