<div style="height: @Height; width: @Width; background: @EnhancedEdge?.Color !important;"
     class="flamegraph-edge">
</div>

@code {
  [Parameter] public required string Height { get; init; }
  [Parameter] public required string Width { get; init; }
  [Parameter] public required EnhancedEdge? EnhancedEdge { get; init; }
}