@using Ficus
@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
@using FicusDashboard.Components.Utils
@using JetBrains.Threading

@inject IJSRuntime Js;

@if (myRenderingContext is { })
{
  var height = Context.Layout.CalculateHeight() * FlamegraphConstants.Height;

  <div style="height: @(height)px; max-width: 800px; overflow: auto;">
    <CompositeBlockRenderer Block="@Context.Layout" Context="myRenderingContext"/>
  </div>
}
else
{
  <Loader LeftUpMargin="true" />
}

@code {
  [Parameter] public required FlamegraphContext Context { get; init; }
  [Parameter] public required GraphLikeEntitySettings Settings { get; init; }
  [Parameter] public required AggregatedData AggregatedData { get; init; }
  [Parameter] public required GrpcAnnotation? Annotation { get; init; }

  private FlamegraphRenderingContext? myRenderingContext;

  protected override void OnParametersSet()
  {
    Task.Run(async () =>
    {
      var enhancedEdges = await Js.InvokeAsync<EnhancedEdge[]>(
        "createEnhancedEdges", Context.Graph, Annotation, AggregatedData, Settings.SelectedEnhancements, Settings.Filter);

      myRenderingContext = new FlamegraphRenderingContext
      {
        Context = Context,
        EnhancedEdges = enhancedEdges.ToDictionary(e => e.Id, e => e)
      };

      StateHasChanged();
    }).NoAwait();
  }
}