@using Ficus
@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
@using FicusDashboard.Components.Utils
@using JetBrains.Threading

@inject IJSRuntime Js;

@if (myRenderingContext is not null)
{
  <div id="@myContainerId" style="position: relative;">
    <CompositeBlockRenderer Block="@Context.Layout" Context="myRenderingContext" SpecifyMinWidth="false"/>
  </div>
}
else
{
  var dim = Context.Layout.CalculateMainDim() * FlamegraphConstants.MainDimPx;

  <div style="min-width: @(dim)px; min-height: @(dim)px;">
    <Loader LeftUpMargin="true"/>
  </div>
}

@code {
  [Parameter] public required FlamegraphContext Context { get; init; }
  [Parameter] public required GraphLikeEntitySettings Settings { get; init; }
  [Parameter] public required AggregatedData AggregatedData { get; init; }
  [Parameter] public required GrpcAnnotation? Annotation { get; init; }
  [Parameter] public required GrpcOcelModelAnnotation? OcelAnnotation { get; init; }


  private readonly Guid myContainerId = Guid.NewGuid();

  private FlamegraphRenderingContext? myRenderingContext;


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (myRenderingContext is null) return;

    var relations = myRenderingContext.EnhancedNodes.Values
      .Where(dto => dto.Objects is not null)
      .SelectMany(dto => dto.Objects!.InitialStateObjectsRelations.Select(r => new
      {
        CurrentNodeId = dto.Node.Id,
        Id = r.Id,
        FromNodeId = r.FromElementId,
        RelatedObjectsIds = r.RelatedObjectsIds
      }))
      .ToList();

    await Js.InvokeVoidAsync(
      "createOcelSankeyConnections",
      myContainerId.ToString(),
      myRenderingContext.ObjectIdStart,
      relations,
      !Settings.UseLROrientation
    );
  }

  protected override void OnParametersSet()
  {
    myRenderingContext = null;
    StateHasChanged();

    Task.Run(async () =>
    {
      var enhancedEdges = await Js.InvokeAsync<EnhancedEdge[]>(
        "createEnhancedEdges", Context.Graph, Annotation, AggregatedData, Settings.SelectedEnhancements, Settings.Filter);

      var enhancedNodes = await Js.InvokeAsync<EnhancedNode[]>(
        "createEnhancedNodes", Context.Graph, AggregatedData, Settings.SelectedEnhancements, Settings.Filter);

      var ocelAnnotationsMap = CreateOcelAnnotationMap();
      myRenderingContext = new FlamegraphRenderingContext
      {
        Context = Context,
        EnhancedEdges = enhancedEdges.ToDictionary(e => e.Id, e => e),
        EnhancedNodes = enhancedNodes.ToDictionary(e => e.Id, e => CreateEnhancedNodeDto(e, ocelAnnotationsMap)),
        EventClassesAsName = Settings.UseEventClassesAsLabels,
        LeftToRight = Settings.UseLROrientation,
        RenderOcelAnnotation = Settings.RenderOcelAnnotation,
        RenderOcelTypeNames = Settings.RenderOcelTypeNames,
        ShowObjectId = Settings.ShowObjectId
      };

      StateHasChanged();
    }).NoAwait();
  }

  private Dictionary<ulong, GrpcModelElementOcelAnnotation>? CreateOcelAnnotationMap()
  {
    if (OcelAnnotation is null) return null;

    Dictionary<ulong, GrpcModelElementOcelAnnotation> map = [];
    foreach (var elementAnnotation in OcelAnnotation.Annotations)
    {
      map[elementAnnotation.ElementId] = elementAnnotation;
    }

    return map;
  }

  private static EnhancedNodeDto CreateEnhancedNodeDto(
    EnhancedNode node,
    Dictionary<ulong, GrpcModelElementOcelAnnotation>? ocelAnnotationsMap) => new()
  {
    Node = node,
    Objects = ocelAnnotationsMap switch
    {
      null => null,
      not null => new NodeObjectsState(ocelAnnotationsMap[node.Id])
    }
  };

}