@using Ficus
@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context

@if (myContext is { })
{
  <div style="height: @(myContext.Layout.CalculateHeight() * FlamegraphConstants.Height)px; width: fit-content;">
    <CompositeBlockRenderer Block="@myContext.Layout" Context="myContext"/>
  </div>
}


@code {
  [Parameter] public required GrpcGraph Graph { get; init; }

  private FlamegraphContext? myContext;

  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    InitializeFlamegraphInfo();
  }

  private void InitializeFlamegraphInfo()
  {
    myContext = new FlamegraphContext(Graph);
  }
}