@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context

<div style="height: @(Context.Layout.CalculateHeight() * FlamegraphConstants.Height)px; width: fit-content;">
  <CompositeBlockRenderer Block="@Context.Layout" Context="Context"/>
</div>

@code {
  [Parameter] public required FlamegraphContext Context { get; init; }
}