@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
<div style="height: 100%; display: flex; flex-direction: row;">
  @foreach (var (index, node) in Block.NodesSequence.Index())
  {
    var height = FlamegraphConstants.Height * Block.CalculateHeight();

    <div style="height: max(@(height)px, 100%); width: @(FlamegraphConstants.NodeWidth);"
         class="flamegraph-node">
      @Context.Context.IdsToNodes[node].Data
    </div>

    @if (index < Block.NodesSequence.Count - 1)
    {
      var edge = Context.Context.NodePairsToIds[(node, Block.NodesSequence[index + 1])];
      var color = Context.EnhancedEdges[edge.Id].Color;

      <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px; background: @color !important;"
           class="flamegraph-edge">
      </div>
    }
  }
</div>

@code {
  [Parameter] public required SequentialBasicBlock Block { get; init; }
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
}