<div style="height: 100%; display: flex; flex-direction: row;">
  @foreach (var (index, node) in Block.NodesSequence.Index())
  {
    <div style="height: max(@(FlamegraphConstants.NodeHeight)px, 100%); width: @(FlamegraphConstants.NodeWidth);"
         class="flamegraph-node">
      @Context.IdsToNodes[node].Data
    </div>

    @if (index < Block.NodesSequence.Count - 1)
    {
      <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px;"
           class="flamegraph-edge">
      </div>
    }
  }
</div>

@code {
  [Parameter] public required SequentialBasicBlock Block { get; init; }
  [Parameter] public required FlamegraphContext Context { get; init; }
}