.colors-log-canvas-container {
  margin-top: 5px;
  width: 100%;
  overflow-y: auto;
  overflow-x: scroll;
  position: relative;
}

.colors-log-canvas-not-full-screen {
  width: 100%;
  max-width: 900px;
  max-height: 500px;
}

.colors-log-canvas-container::-webkit-scrollbar {
  display: grid;
}

.invisible-canvas {
  visibility: collapse;
}